@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Issue";
//    List<int> issueNums = TempStorage.ProjectStorage[Model].ProjectIssues;
//    var issuesList = issueNums.Where(k => TempStorage.IssueStorage.ContainsKey(k))
//    .Select(k => TempStorage.IssueStorage[k])
//    .ToList();
}
@model List<IssueModel>
<div class="text-center">

    <h1 class="display-1">Edit an issue For Project "@ViewBag.ProjectName".</h1>
</div>
<div>
    @using (Html.BeginForm("IssueToEdit", "Issue", FormMethod.Post, new { @class = "col-md-7 col-lg-8" }))
    {
        <ol class="list-group">
        @for(int i = 0; i<Model.Count; i++)
        {
                <li class="list-group-item">
                    Issue ID:   @Model[i].Id
                    @Html.HiddenFor(m => m[i].Id)
                    <ul class="list-group">
                        <li class="list-group-item">
                            Issue Name: @Html.TextBoxFor(m => m[i].Name)
                        </li>
                        <li class="list-group-item">
                            Issue Description: @Html.TextBoxFor(m => m[i].Description)
                        </li>
                        <ul class="list-group">
                            Users:
                            @foreach (var userId in Model[i].UserIds)
                            {
                                <li class="list-group-item">
                                    @userId.ToString()
                                </li>
                            }
                            @Html.HiddenFor(m => m[i].UserIds)
                        </ul>
                        <li class="list-group-item">
                            Associated Files: @Model[i].AssociatedFiles
                        </li>
                        @Html.HiddenFor(m => m[i].AssociatedFiles)
                    </ul>
                </li> 
        
        }
        </ol>
        <button type="submit" class="btn btn-primary" name="projId" value=@ViewBag.CurrentProj.ToString()>Update</button>
    }
</div>
